<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java从入门到精通</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--字体图标-->
    <link rel="stylesheet" href="../../static/resources/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--markdown-->
    <link rel="stylesheet" href="../../static/resources/plugins/editor.md-master/css/editormd.css" />
    <script src="../../static/resources/plugins/editor.md-master/editormd.min.js"></script>
    <link rel="stylesheet" href="../../static/resources/plugins/editor.md-master/css/editormd.preview.css" />
    <!--弹出框优化-->
    <script src="../../static/resources/plugins/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/resources/plugins/sweetalert.css">

    <!--video.js-->
    <link href="https://vjs.zencdn.net/7.7.6/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.7.6/video.js"></script>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" href="#"><i class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">1-1 Java从入门到精通</a>
        </li>
        <li class="nav-item" style="margin-left: 50px">
            <a class="btn btn-link" href="#"><i class="fa fa-star" aria-hidden="true">收藏</i></a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item" style="margin-left:650px">
            <a class="nav-link" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i>消息</a>
        </li>
    </ul>
    <img src="../../static/resources/image/facio.jpg" href="#" class="rounded-circle" style="margin-left:70px;width: 50px;height: 50px">
</nav>

<!--视频播放-->
<div style="background-color: #333333">
    <div style="margin-top: 1%;background-color: #333333;margin-left: 20%;width: 62%">
        <video remainingTimeDisplay="false" id="my-video" class="video-js vjs-default-skin vjs-big-play-centered"
               controls preload="auto" width="800px" height=500px"
              data-setup="{}">
            <source src="../../static/resources/video/learn.mp4" type='video/mp4'>
        </video>
    </div>
</div>

<!--下面导航栏-->
<div class="container">
    <br>
    <!-- Nav pills -->
    <ul class="nav nav-pills " role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#home">视频信息</a>
        </li>
        <li class="nav-item" style="margin-left: 7%">
            <a class="nav-link" data-toggle="pill" href="#menu1">评论</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active "><br>
            <h2>类型</h2>
            <p>Java</p>
            <h2>简介</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <div class="card" style="margin-top: 2%;width: 70%">
                <div class="card-body">
                    <div class="card-text text-left">
                        <form class="form-inline font-weight-light">
                            <img src="../../static/resources/image/facio.jpg" href="#" class="rounded-circle" style="width: 80px;height: 80px;">
                            <h6 style="color: #333333;margin-left:3.5%;margin-top: -8%;font-weight:bold">向南的我</h6>
                            <button  style="margin-top: -20%;margin-left: 92%" type="button" class="btn btn-light" disabled>#1</button>
                            <div id="test-markdown-view1" style="width: 100%;margin-left: 12%;margin-top: -8%">
                                <!-- Server-side output Markdown text -->
                                <textarea style="display:none;">期待遇见更优秀的她。我仍相信爱情。
                         </textarea>
                            </div>
                        </form>
                        <form class="form-inline font-weight-light">
                            <label style="margin-left: 15%"> <i class="fa fa-pencil-square" aria-hidden="true">
                                评论于</i></label>2020-05-12 16:58
                        </form>
                    </div>
                </div>
            </div>

            <!--回复板块-->
            <div class="card" style="margin-top: 4%;width: 70%">
                <div class="card-body">
                    <div class="card-text text-left">
                        <textarea style="width: 100%;height: 100%" placeholder="在这里添加你的评论把！"></textarea>
                        <button type="button" class="btn btn-success" style="margin-left: 90%">评论</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0%;margin-top: 10%">
    <p>在线学习网站</p>
</div>
</body>

<script>
    var player = videojs('my-video');
</script>
<script src="../../static/resources/plugins/editor.md-master/lib/marked.min.js"></script>
<script src="../../static/resources/plugins/editor.md-master/lib/prettify.min.js"></script>
<script type="text/javascript">
    $(function() {
        var testView = editormd.markdownToHTML("test-markdown-view1", {
            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
            // htmlDecode : true,  // Enable / disable HTML tag encode.
            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
        });
    });
</script>
</html>