<html>
<head>
    <meta charset="utf-8">
    <title>在线学习网站登录</title>
    <link rel="icon" href="./static/resources/image/favicon.ico" type="image/x-icon">
</head>
<body background="../static/resources/image/1.jpg">
<h1>欢迎访问在线学习网站</h1>

<div class="login" style="margin-top:50px;">

    <div class="header">
        <div class="switch" id="switch"><a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);"
                                           tabindex="7">快速登录</a>
            <a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">快速注册</a>
            <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
        </div>
    </div>


    <div class="web_qr_login" id="web_qr_login" style="display: block; height: 235px;">

        <!--登录-->
        <div class="web_login" id="web_login">


            <div class="login-box">


                <div class="login_form">
                    <form action="/user/login" name="loginform" accept-charset="utf-8" id="login_form" class="loginForm"
                          method="post"><input type="hidden" name="did" value="0"/>
                        <div class="uinArea" id="uinArea">
                            <label class="input-tips" for="username">名称：</label>
                            <div class="inputOuter" id="uArea">

                                <input type="text" id="username" name="name" class="inputstyle"/>
                            </div>
                        </div>
                        <div class="pwdArea" id="pwdArea">
                            <label class="input-tips" for="password">密码：</label>
                            <div class="inputOuter" id="pArea">

                                <input type="password" id="password" name="password" class="inputstyle"/>
                            </div>
                        </div>

                        <div style="padding-left:50px;margin-top:20px;">
                            <input id="loginBtn" type="button" value="登 录" style="width:150px;" class="button_blue"/>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <!--登录end-->
    </div>

    <!--注册-->
    <div class="qlogin" id="qlogin" style="display: none; ">

        <div class="web_login">
            <form name="form2" id="regUser" accept-charset="utf-8" action="" method="post">
                <ul class="reg_form" id="reg-ul">
                    <div id="userCue" class="cue">欢迎注册在线学习网站</div>
                    <li>

                        <label for="user" class="input-tips2">名称：</label>
                        <div class="inputOuter2">
                            <input type="text" id="user" name="user" maxlength="16" class="inputstyle2"/>
                        </div>

                    </li>

                    <li>
                        <label for="passwd" class="input-tips2">密码：</label>
                        <div class="inputOuter2">
                            <input type="password" id="passwd" name="pwd" maxlength="16" class="inputstyle2"/>
                        </div>

                    </li>
                    <li>
                        <label for="passwd2" class="input-tips2">确认密码：</label>
                        <div class="inputOuter2">
                            <input type="password" id="passwd2" name="" maxlength="16" class="inputstyle2"/>
                        </div>

                    </li>

                    <li>
                        <div class="inputArea">
                            <input type="button" id="reg" style="margin-top:10px;margin-left:85px;" class="button_blue"
                                   value="注册"/>
                        </div>

                    </li>
                    <div class="cl"></div>
                </ul>
            </form>


        </div>


    </div>
    <!--注册end-->
</div>

<!-- jQuery 3 -->
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script>

<script src="../static/plugins/cookie/jquery.cookie.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/plugins/sweetalert/sweetalert.css">
<script type="text/javascript" src="../static/resources/js/login.js?v=20175131017 "></script>
<link href="../static/resources/css/login.css" rel="stylesheet" type="text/css"/>


<script>
    /**
     * 登录按钮点击事件
     */
    $("#loginBtn").click(function () {
        console.log("into click loginBtn");
        var username = $("#username").val().trim();
        var password = $("#password").val().trim();
        console.log(username+password);
        if (username.length == 0 || password.length == 0) {
            sweetAlert("用户名或密码为空，请填写！", "error");
            return;
        }
        $.ajax({
            type: "post",
            url: "/user/userlogin",
            data:
                {
                "userName": username,
                "password": password
                },
            success: function (data) {
                console.log(data);
                var code = data.code;
                if (code==0) {
                    console.log("登录成功");
                    if(data.data.roleId==2){
                        $.cookie('userId',data.data.id);
                        $(location).attr('href', '/user/index2.html');
                    }else if(data.data.roleId==1){
                        $(location).attr('href', '/bg/index.html');
                    }
                } else {
                    if (code == 10) {
                        swal('', '用户名或密码错误！', 'error');
                        return;
                    } else {
                        swal('', '服务器出错！', 'error');
                        return;
                    }
                }
            }
        });
    });





</script>
</body>
</html>