<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="icon" href="./static/resources/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="../static/resources/css/history.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/resources/css/register.css">

    <script src="https://cdn.bootcss.com/limonte-sweetalert2/7.28.11/sweetalert2.all.js"></script>
    <link href="https://cdn.bootcss.com/limonte-sweetalert2/7.28.11/sweetalert2.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/limonte-sweetalert2/7.28.11/sweetalert2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
</head>
<body background="../static/resources/image/1.jpg">
<div class="modal-body" id="bg">
    <div id="login">
        <br>
        <br>
        <h1 class="text-center" id="login-title">注册账号</h1>
        <div class="text-center row">
            <label class="inputlabel col-lg-6" >
                <br>
                <span class="glyphicon glyphicon-user"></span>
                <input type="text" name="userName" id="userName" placeholder="帐号">
            </label>
            <label class="inputlabel col-lg-6">
                <span class="glyphicon glyphicon-envelope"></span>
                <input type="email" name="userMail" id="userMail" placeholder="邮件">
            </label>
        </div>
        <div class="text-left  row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 div-promt">
                <label class="promt" id="promt-userName"></label>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 div-promt">
                <label class="promt" id="promt-userMail"></label>
            </div>
        </div>
        <div class="text-center row">
            <label class="inputlabel col-lg-6">
                <br>
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password" name="userPassword" id="userPassword" placeholder="密码">
            </label>
            <label class="inputlabel col-lg-6">
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password" name="userPasswordAgain" id="userPasswordAgain" placeholder="确认密码">
            </label>
        </div>
        <div class="text-left row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 div-promt">
                <label class="promt" id="promt-userPassword"></label>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 div-promt">
                <label class="promt" id="promt-userPasswordAgain"></label>
            </div>
        </div>
        <div class="text-center row">
            <label class="inputlabel col-lg-6">
                <br>
                <span class="glyphicon glyphicon-heart"></span>
                <input type="text" name="userCode" id="userCode" placeholder="验证码">
            </label>
            <label class="inputlabel col-lg-6">
                <span class="glyphicon"></span>
                <input type="button" value="发送邮箱验证码" id="sendCode">
            </label>
        </div>
        <div>
            <p class="text-center">
                <input type="button" value="注册" id="submit" name="submit">
            </p>
        </div>
    </div>
</div>
</body>
</html>