<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>在线学习网站</title>

    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/resources/css/updatePassword.css">
</head>
<body background="../static/resources/image/1.jpg">
<div class="modal-body" id="bg">
    <div id="login">
        <br>
        <br>
        <h1 class="text-center" id="login-title">找回密码</h1>
        <form action="login.html" method="post">
            <p class="text-center">
                <label class="inputlabel" >
                    <br>
                    <input type="text" name="UserId" placeholder="邮箱">
                </label>
            </p>
            <p class="text-center">
                <label class="inputlabel">
                    <br>
                    <input type="password" name="Password" placeholder="验证码">
                </label>
            </p>
            <p class="text-center">
                <input type="submit" value="找回密码" id="SubmitButton">
            </p>
        </form>
    </div>
</div>
</body>
</html>