<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="icon" href="../image/favicon.ico" type="image/x-icon">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--弹出框优化-->
    <script src="../plugins/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../plugins/sweetalert.css">

</head>
<body background="../image/login/bg.jpg">
<div class="container" style="margin-left: 400px; margin-top: 60px;width: 450px;height: 300px">
    <h2 style="margin-left: 140px;margin-top:100px;color: darkblue ">用户注册</h2>
    <form class=" form-inline">
        <div class="form-group">
            <label for="userName" style="margin-top: 15px">邮箱:</label>
            <input type="email" class="form-control" id="userName" placeholder="邮箱"  onblur="checkEmail()" style="width: 300px;margin-left: 20px;margin-top: 30px">
            <span id="emailTip" style="margin-left: 20px; margin-top: 20px;width: 100px;"></span>
        </div>
        <div class="form-group">
            <label for="pwd">密码:</label>
            <input type="password" class="form-control" id="pwd" placeholder="密码" style="width: 300px;margin-left: 20px;margin-top: 20px ">
        </div>
        <div class="form-group">
            <label for="verCode" style="margin-left: -14px">验证码:</label>
            <input type="String" class="form-control" id="verCode" placeholder="验证码" style="width: 300px;margin-left: 20px;margin-top: 20px">
            <button type="button" id="sendBtn" class="btn btn-light " style="margin-left: 20px; margin-top: 20px;width: 100px">发送</button>
            <span id="codeTips" style="margin-left: 20px; margin-top: 20px;width: 100px;display: none">验证码已发送，请注意查收</span>
        </div>
        <button id="registerBtn"  type="button" class="btn btn-light btn-lg" style="margin-left: 150px;margin-top: 30px;width: 100px">注册</button>
    </form>
</div>
</body>
<script>
    function checkEmail() {
        var email=$("#userName").val().trim();
        if (email.length > 0){
            $.ajax({
                type: "post",
                url: "/user/send/"+email,
                success: function (data) {
                    var code = data;
                    if (code==true) {
                        $("#emailTip").html("邮箱已存在").css('color','red');
                        return;
                    }
                    else {
                        $("#emailTip").html("√").css('color','green');
                        return;
                    }
                }
            });
        }
    }


    $("#sendBtn").click(function () {
        var username = $("#userName").val().trim();
        if (username.length == 0) {
            swal("邮箱请填写！", "");
            return;
        }
        $.ajax({
            type: "post",
            url: "/mail/"+username,
            success: function (data) {
                var code = data;
                if (code==true) {
                    swal('发送成功，请注意接收，有效时间为10分钟！')
                }
                else {
                    swal('验证码发送失败，请重试', '');
                    return;

                }
            }
        });
    });

    $(document).ready(function () {
        $("#registerBtn").click(function() {
            var userCode=$('#verCode').val();
            var mailNumber = $('#userName').val();
            var password=$("#pwd").val();
            var userName= mailNumber;
            var sex='男';
            if(userName == ""||password == ""||mailNumber == ""||sex == ""||userCode==""){
                swal({
                    title: '所有信息不为空',
                    type: 'warning'
                })
            }
            else{
                if(userCode != ""){
                    $.ajax({
                        url:"/mail/check/"+userCode,
                        type:"post",
                        success:function(data){
                            if(data==true){
                                $.ajax({
                                    url:"/user/register",
                                    type:"post",
                                    data:{"userName":userName,"password":password,"mailNumber":mailNumber,"sex":sex},
                                    success:function(data){
                                        if(data ==true){
                                            swal({
                                                title: '注册成功！',
                                                text: '正在前往登录界面',
                                                type:'success'
                                            })
                                            setTimeout(window.location.href = "/view",3000);
                                        }
                                        else{
                                            swal("注册失败!");
                                        }
                                    },
                                    error:function(){
                                        swal("注册出现了问题，请重试!");
                                    }
                                });
                            } else {
                               swal("邮箱验证码错误，请重新输入！");
                            }
                        },
                        error:function(){
                            alert("注册出现了问题，请重试!");
                        }
                    });
                }
            }
        })
    })
</script>
</html>